.section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    box-shadow: 2px -12px 54px -6px rgba(63, 63, 63, 0.75);
-webkit-box-shadow: 2px -12px 54px -6px rgba(63, 63, 63, 0.75);
-moz-box-shadow: 2px -12px 54px -6px rgba(63, 63, 63, 0.75);
z-index: 99999999;
}

.glass {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    height: 100%;
    width: 100%;
    border: transparent;
}

.title {
    margin-top: 3rem;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #ff4496;
}

.subtitle {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #111111;
}

.call {
    height: fit-content;
    width: 45rem;
    margin-top: .5rem;
    margin-bottom: 4rem;
    font-size: 2rem;
    font-weight: 400;
    color: #a2d2ff;
    display: flex;
    justify-content: center;
    text-align: center;
}

.socialRow {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}



.fit {
    height: fit-content;
    width: fit-content;
    align-items: center;
    margin-right: 5px;
    padding: 5px;
    backdrop-filter: blur(50px);
    background: #a2d2ff;
    opacity: 0.6;
    border-radius: 15px;
}


.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.last {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    text-align: center;
    align-self: baseline;
    justify-content: flex-end;
    margin-top: 5rem;
    margin-bottom: 0;
}


@media(max-width: 768px) {
    .title {
        font-size: 2.5rem;
        text-align: center;
    }
    .subtitle {
        font-size: 18px;
        text-align: center;
    }
    .call {
        font-size: 16px;
        text-align: center;
        width: 100%;
    }
    .socialRow, .fit {
        min-width: 25px;
        min-height: 25px;
    }
}